<form method="post" action="" onsubmit="return confirm('Êtes-vous sûr·e de vouloir supprimer ce commentaire ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ comment.id) }}">
    <button class="btn btn-danger p-1 pr-2 pl-2"><i class="fa fa-trash"></i></button>
</form>
