{{ form_start(form) }}
    {{ form_row(form.comment) }}
    <div class="col-6 pl-0">
        {{ form_row(form.rate) }}
    </div>
    <button class="btn btn-save float-right"><h4 class="m-0"><i class="fa fa-save"></i></h4></button>
{{ form_end(form) }}
