{% extends 'base.html.twig' %}

{% block title %}Éditer l'épisode{% endblock %}

{% block body %}
    <div class="row d-flex justify-content-center">
        <h1 class="title-admin">Éditer l'épisode</h1>
        <h2 class="pt-1"><a href="{{ path('episode_index') }}"><i class="fa fa-arrow-left"></i></a></h2>
        <div class="d-flex align-items-center ml-3">
            {{ include('episode/_delete_form.html.twig') }}
        </div>
    </div>
    <div class="col-10 offset-1">
        {{ include('episode/_form.html.twig', {'button_label': 'Enregistrer'}) }}
    </div>
{% endblock %}
