{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="main-title pt-3">ZAPPER<br> Le site des visionneurs en série</h1>
    <div class="col-8 offset-2 d-flex align-items-center flex-column mt-5">
        <a href="{{ path('zapper_show', { 'slug': "walking-dead" }) }}">
            Testing show() method from ZapperController with a real program's slug.
        </a>
        <br>
        <a href="{{ path('zapper_index') }}">
            Testing index() method from ZapperController to view all programs.
        </a>
    </div>
{% endblock %}