@import "~bootstrap/scss/bootstrap";

$primary: #1a472a;
$secondary: #5d5d5d;
$green-light: #2a623d;
$grey-light: #aaaaaa;
$black: #000000;
$font-title: 'Saira Stencil One', cursive;
$font-main: 'Raleway', sans-serif;

/* START MAIN */

body {
    margin-top: 3rem;
    background-color: $black;
    font-family: $font-main;
    font-size: 1rem;
    color: #FFFFFF;
}

h1, h2, h3, h4 {
    font-family: $font-title;
}

h1, h2 {
    margin: 1rem;
}

h1 {
    text-align: center;
}

a {
    color: $grey-light;
}

a:hover {
    color: $green-light;
    text-decoration: none;
}

.title {
    font-family: $font-title;
}

.btn {
    color: $grey-light;
    background-color: $primary;
    border-color: $primary;
}

.btn:hover {
    background-color: $green-light;
    border-color: $green-light;
}

.bck-primary {
    background-color: $primary;
    padding: 1rem;
    border-radius: 6px;
}

.bck-primary-light {
    background-color: $green-light;
    padding: 1rem;
    border-radius: 6px;
}

.bck-secondary {
    background-color: $secondary;
    padding: 1rem;
    border-radius: 6px;
}

.bck-secondary-light {
    background-color: $grey-light;
    padding: 1rem;
    border-radius: 6px;
}

.bck-dark {
    background-color: $secondary;
}

.navbar {
    background-color: $green-light;
}

.navbar-content {
    width: 100%;
}

.navbar-logo {
    width: 40px;
    height: 40px;
}

.navbar-title {
    text-shadow: 1px 1px 2px $grey-light;
}

.navbar-brand {
    font-family: $font-title;
    font-size: 2rem;
}

.nav-link {
    font-size: 1.5rem;
    font-weight: bolder;
    text-shadow: 1px 1px 2px $primary;
    color: $black;
    margin-top: 0.2rem;
}

.dropdown-menu {
    background-color: $grey-light;
}

/* END MAIN */

/* START ADMIN */

.th-name {
    width: 250px;
}

.poster-show-admin {
    width: 100%;
}

.title-admin {
    text-align: left;
}

.btn-save {
    color: $grey-light;
}

.btn-save:hover {
    color: $primary;
}

/* END ADMIN */

/* START USER */

.user-pseudo {
    font-family: $font-title;
    font-size: 1rem;
    color: $green-light;
    background-color: $black;
    border-radius: 3px;
    padding: 0.5rem;
    height: 60%;
}

.card-link-season {
    background-color: $primary;
    color: #FFFFFF;
    padding: 0.5rem;
    border-radius: 5px;
}

.card-link-season:hover {
    background-color: $green-light;
    color: #FFFFFF;
}

.poster-show-user {
    height: 40rem;
}

.yellow-star {
    color: #dbb700;
}

.grey-star {
    color: $secondary;
}

#comment_rate {
    display: flex;
    justify-content: space-between;
}

.episode-comment {
    height: 24rem;
}

.card-profile {
    background-color: $grey-light;
    color: $primary;
    margin-top: 4rem;
    border: thick double $primary;
    border-radius: 12px;
}

.raleway {
    font-family: $font-main !important;
}

/* END USER */
