@import "~bootstrap/scss/bootstrap";

$primary: #1a472a;
$secondary: #5d5d5d;
$green-light: #2a623d;
$grey-light: #aaaaaa;
$black: #000000;
$font-title: 'Saira Stencil One', cursive;
$font-main: 'Raleway', sans-serif;

/* START MAIN */

body {
    margin-top: 3rem;
    background-color: $black;
    font-family: $font-main;
    font-size: 1rem;
    color: #FFFFFF;
}

h1 {
    font-family: $font-title;
    margin: 1rem;
    text-align: center;
}

h2 {
    font-family: $font-title;
    margin: 1rem;
}

a {
    color: $grey-light;
}

a:hover {
    color: $green-light;
    text-decoration: none;
}

.navbar {
    background-color: $green-light;
}

.navbar-logo {
    width: 40px;
    height: 40px;
}

.navbar-title {
    text-shadow: 1px 1px 2px $grey-light;
}

.navbar-brand {
    font-family: $font-title;
    font-size: 2rem;
}

.nav-link {
    font-size: 1.5rem;
    font-weight: bolder;
    text-shadow: 1px 1px 2px $primary;
    color: $black;
    margin-top: 0.2rem;
}

.dropdown-menu {
    background-color: $grey-light;
}

/* END MAIN */

/* START ADMIN */

.th-name {
    width: 250px;
}

.poster-show-admin {
    width: 100%;
}

.title-admin {
    text-align: left;
}

.btn-save {
    color: $grey-light;
}

.btn-save:hover {
    color: $primary;
}

/* END ADMIN */

/* START USER */

.card-link-season {
    background-color: $primary;
    color: #FFFFFF;
    padding: 0.5rem;
    border-radius: 5px;
}

.card-link-season:hover {
    background-color: $green-light;
    color: #FFFFFF;
}

/* END USER */